body {
  background: -webkit-linear-gradient(#f0f4ff, #a5b6ee);
  background: -o-linear-gradient(#f0f4ff, #a5b6ee);
  margin: 0 auto;
  width: 1280px;
  height: 7;
  position: relative;
}

.Timer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin-top: 180px;
  height: 720px;
}
